@font-face {
    font-family: 'Avant Garde Gothic';
    src: url('assets/fonts/AvantGardeGothic.otf');
}

html {
    font-family: 'Avant Garde Gothic';
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: #3a71b5;
    width: 700px;
    padding: 10px;
}

.grid-column {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    height: 600px;
}

.grid-column {
    transition: background-color 200ms ease;
}

.grid-column {
    border-radius: 1rem;
}

.grid-column:hover {
    background-color: #376297;
}

.grid-space {
    margin: 5%;
    border-radius: 50%;
    background-color: white;
}

/* .grid-space:hover::after {
    content: '';
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #d15d5d;
} */

.flex {
    width: 100%;
    display: flex;
    justify-content: center;
}

.game-logo {
    max-width: 100%;
    height: 50vh;
}

.red-piece::before {
    content: '';
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #d15d5d;
}

.yellow-piece::before {
    content: '';
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #eabc64;
}

.flex-50 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
}

.start {
    background-color: black;
    color: white;
    font-family: 'Avant Garde Gothic';
    box-shadow: 0 0 0 4px white, 0 0 0 12px black;
    border-radius: 80px;
    padding: 0.2rem 1.5rem;
    font-size: 80px;
}

/* .start B {
    letter-spacing: 0.05em;
} */

.rules {
    height: auto;
    margin:20px;
    padding: 0.5rem;
    background-color: black;
    color: white;
    font-family: 'Avant Garde Gothic';
    box-shadow: 0 0 0 4px white, 0 0 0 12px black;
    border-radius: 25px;
}

.players {
    height: auto;
    font-size: 35px;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    font-family: 'Avant Garde Gothic';
    box-shadow: 0 0 0 4px white, 0 0 0 12px black;
    border-radius: 25px;
}

#reset {
    padding-block: 0.5em;
    padding-inline: 1em;
}

.hide {
    display:none;
}

.show {
    display:block;
}


.rulebook {
    height:10vh;
}