@font-face {
    font-family: 'Avant Garde Gothic';
    src: url('assets/fonts/AvantGardeGothic.otf');
}

body {
    background-color: #fff9e9;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Avant Garde Gothic';
}

.grid {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -66.666%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: #3a71b5;
    width: 50%;
    max-width: 960px;
    padding: 1%;
    border-radius: 1em;
    box-shadow: 0 1em 3em rgba(0, 0, 0, 0.5);
}

.grid-column {
    display: grid;
    /* min-height: max-content; */
    grid-template-rows: auto auto auto auto auto auto;
    transition: background-color 200ms ease;
    border-radius: 1rem;
}

.grid-column:hover {
    background-color: #376297;
}

.grid-space {
    margin: 5%;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: white;
    transition: box-shadow 100ms ease;
}

.grid-space:hover {
    box-shadow: 0 0 0 0.125rem white;
}

/* .grid-space:hover::after {
    content: '';
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #d15d5d;
} */

#main-menu {
    z-index: 1;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: center;
}

.game-logo {
    position: absolute;
    min-height: 40vh;
    max-height: 50vh;
    top: 50%;
    left: 50%;
    translate: -50% -75%;
}

.red-piece::before {
    content: '';
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #d15d5d;
}

.yellow-piece::before {
    content: '';
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #eabc64;
}

.flex-50 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.type-select {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% 175%;
}

.start {
    position: absolute;
    background-color: black;
    color: white;
    font-family: 'Avant Garde Gothic';
    box-shadow: 0 0 0 0.25rem white, 0 0 0 0.75rem black;
    border-radius: 0.5em;
    padding: 0.2rem 1.5rem;
    font-size: 80px;
    transition: transform 120ms ease-out;
    top: 50%;
    left: 50%;
    translate: -50% 175%;
}

/* .start B {
    letter-spacing: 0.05em;
} */

.rules {
    position: absolute;
    top: 2em;
    left: 2em;
    background-color: black;
    color: white;
    font-family: 'Avant Garde Gothic';
    box-shadow: 0 0 0 0.25rem white, 0 0 0 0.75rem black;
    border-radius: 2em;
}

.players {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    height: auto;
    font-size: 35px;
    padding: 0.5em;
    background-color: black;
    color: white;
    font-family: 'Avant Garde Gothic';
    box-shadow: 0 0 0 0.25rem white, 0 0 0 0.75rem black;
    border-radius: 1em;
    transition: transform 120ms ease-out;
}

#reset {
    padding-block: 0.5em;
    padding-inline: 1em;
}

.hide {
    display: none;
}

.rules {
    height: 10vh;
    min-width:6vw;
    width:fit-content;
    position:relative;
    display:inline-block;
    transition:transform 120ms ease-out;
}

.rules .rule-default {
    height:8vh;
    padding:10px;
    padding-bottom:0.5vh;
}

.rules:hover {
    transform: scale(1.1);
    
}

.rules:hover .rule-hover {
    display:inline;
    height:8vh;
    position:relative;
    padding:10px;
}

.rules:hover .rule-default {
    display:none;
}

.rules .rule-hover {
    position:absolute;
    display:none;
    top:0;
    left:0;
} 

.rules-text {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;
}

.start:hover,
.players:hover {
    transform: scale(1.2);
}

.game-stats-you {
    position: absolute;
    left:0 ;
    bottom: 0;
}

.left-stats-counter {
    align-items: center;
    gap: 1rem;
    font-size: 80px;
}

.red {
    padding-left: 4rem;
}

.game-stats-enemy {
    position: absolute;
    right: 0;
    bottom: 0;
}

.right-stats-counter {
    align-items: center;
    gap: 1rem;
    font-size: 80px;
}

.enemy-piece-number {
    text-align: end;
}

.yellow {
    padding-right: 4rem;
}

.removing {
    color: white;
    background-color: #d15d5d;
}

.online-count {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 50px;
    padding: 1rem 3rem;
    pad
}